:root {
  --group-meeting-label-color: #800080; /* dark purple for light theme */
}

html[data-theme=dark] {
  --group-meeting-label-color: #ff66cc; /* bright reddish-pink for dark theme */
}


.group-meeting-label {
  /*color: #007acc;*/
  font-variant: small-caps;
  font-weight: bold;
  font-size: 0.85em;   /* slightly smaller than normal text */
  margin-right: 0.5em;
  font-family: serif; 
  color: var(--group-meeting-label-color) !important;
}
