<header>
  <p>Debug: Navigation items count = {{ site.data.navigation | size }}</p>
  <nav>
    <ul>
      {% for item in site.data.navigation %}
        <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>