<header>
  <nav>
    <ul>
      {% for item in site.data.navigation %}
        {% comment %} Ensure both paths are treated relatively {% endcomment %}
        {% assign nav_url = item.url | relative_url %}
        {% assign curr_url = page.url | relative_url %}
        
        <li class="nav-item {% if curr_url == nav_url %}active{% endif %}">
          <a class="nav-link" href="{{ nav_url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>